
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-self:center;
}
a{
    text-align: center;
}

.contenedorp {
    width: 100%;
    max-width: 100%;
    overflow: hidden; /* Evita que se salga contenido */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.contenedorp img {
    display: block;
    width: 100%;
    height: auto;
    width: 1300px; /* Cambia el ancho según necesites */
    height: 300px;
}

.textop {
   
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
header {
    background: linear-gradient(90deg, #00247D, #FFFFFF, #CF142B); /* Colores de una bandera */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Sección principal */
.contenedor {
    display: flex;
    align-items: center;  /* Alinea verticalmente */
    margin-left: 300px;   /* Espacio a la izquierda */
    margin-right: 20px;   /* Espacio a la derecha */
    gap: 20px;            /* Espacio entre los elementos */
}
.texto {
    max-width: 400px; /* Ancho máximo del texto */
}

h1 {
    text-align: center;
    color: #050506;
}

/* Pie de página */
footer {
    background: #919c7b;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.center{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.img_grande{
    width: 100%; /* Ocupará todo el ancho de la pantalla */
    height: 300px; /* Mantiene altura */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
}
table {
    width: 90%; /* Ajusta el ancho según sea necesario */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: none;
    text-align: center; /* Centra el texto dentro de las celdas */
    background-color: white;
    border:none; /* Borde con color de referencia */
}

th, td {
    border: none;
    padding: 10px;
}

th {

    color: rgb(0, 0, 0);
}
.button-container-volver {
    display: flex;
    justify-content: left;
    gap: 25px; /* Espacio entre los botones */
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 25px; /* Espacio entre los botones */
    margin-top: 20px;
}

.button {
    text-decoration: none;
    background: #e4f1e6; /* Color rojo (puedes cambiarlo) */
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background: #e5ec7f; /* Azul al pasar el mouse */
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
footer a:hover {
    color: rgb(12, 15, 233);
  }

.titulo {
    font-size: 2.5rem;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.titulo.lobster { font-family: 'Lobster', cursive; color: #8f5f5a; }
.titulo.pacifico { font-family: 'Pacifico', cursive; color: #597c68; }
.titulo.sriracha { font-family: 'Sriracha', cursive; color: #5e7e94; }

.parrafo{
    font-size: 1.5rem;
    margin: 20px;
    cursor: pointer;
    color: #0c0e0d;
}

.parrafo.merienda{
    font-family: "Merienda";
}
.parrafo.questrial{
    font-family:"Questrial";
}
.parrafo.krona{
    font-family:"Krona One";
}
.espacio {
    flex-grow: 1; /* Hace que este div ocupe el espacio sobrante */
}