
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    align-self:center;
}
a{
    text-align: center;
}

.contenedorp {
    position: relative;
    display: inline-block;
}

.contenedorp img {
    display: block;
    width: 100%;
    height: auto;
    width: 1300px; /* Cambia el ancho según necesites */
    height: 300px;
}

.textop {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0); /* Fondo semitransparente */
    padding: 10px 20px;
    border-radius: 10px;
}
header {
    background: linear-gradient(90deg, #00247D, #FFFFFF, #CF142B); /* Colores de una bandera */
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Sección principal */
.contenedor {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre el video y el texto */
}
.texto {
    max-width: 400px; /* Ancho máximo del texto */
}

h1 {
    text-align: center;
    color: #050506;
}

/* Pie de página */
footer {
    background: #919c7b;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

.center{
    text-align: center;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.img_grande{
    width: 1300px; /* Cambia el ancho según necesites */
    height: 300px;
}
table {
    width: 90%; /* Ajusta el ancho según sea necesario */
    margin: 20px auto; /* Centra la tabla horizontalmente */
    border-collapse: none;
    text-align: center; /* Centra el texto dentro de las celdas */
    background-color: white;
    border:none; /* Borde con color de referencia */
}

th, td {
    border: none;
    padding: 10px;
}

th {

    color: rgb(0, 0, 0);
}
.button-container-volver {
    display: flex;
    justify-content: left;
    gap: 25px; /* Espacio entre los botones */
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    gap: 25px; /* Espacio entre los botones */
    margin-top: 20px;
}

.button {
    text-decoration: none;
    background: #e4f1e6; /* Color rojo (puedes cambiarlo) */
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
}

.button:hover {
    background: #e5ec7f; /* Azul al pasar el mouse */
}
p{
    text-align: center;
}
h2{
    text-align: center;
}
footer a:hover {
    color: rgb(12, 15, 233);
  }